<extend name="Public:base" />
<block name='title'><title>我的文章</title></block>

<block name="main">
    <div class="panel panel-info">
      <div class="panel-heading">我的文章</div>
      <div class="panel-body">
        <table  class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ordinal</th>
                <th>Title</th>
                <th>Tag</th>
                <th>Time</th>
                <th>Hits</th>
                <th>Likes</th>
                <th>Operations</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>ThinkPHP 实践</td>
                    <td>PHP</td>
                    <td>2016-08-20</td>
                    <td>100</td>
                    <td>100</td>
                    <td><a type="button" class="btn btn-warning  btn-xs" href="">编辑</a>&nbsp;&nbsp;
                        <a type="button" class="btn btn-danger  btn-xs" href="" onclick="javescript:return confirm('确认删除这篇文章?')">删除</a>
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>ThinkPHP 实践</td>
                    <td>PHP</td>
                    <td>2016-08-20</td>
                    <td>100</td>
                    <td>100</td>
                    <td><a type="button" class="btn btn-warning  btn-xs" href="">编辑</a>&nbsp;&nbsp;
                        <a type="button" class="btn btn-danger  btn-xs" href="" onclick="javescript:return confirm('确认删除这篇文章?')">删除</a>
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>ThinkPHP 实践</td>
                    <td>PHP</td>
                    <td>2016-08-20</td>
                    <td>100</td>
                    <td>100</td>
                    <td><a type="button" class="btn btn-warning  btn-xs" href="">编辑</a>&nbsp;&nbsp;
                        <a type="button" class="btn btn-danger  btn-xs" href="" onclick="javescript:return confirm('确认删除这篇文章?')">删除</a>
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>ThinkPHP 实践</td>
                    <td>PHP</td>
                    <td>2016-08-20</td>
                    <td>100</td>
                    <td>100</td>
                    <td><a type="button" class="btn btn-warning  btn-xs" href="">编辑</a>&nbsp;&nbsp;
                        <a type="button" class="btn btn-danger  btn-xs" href="" onclick="javescript:return confirm('确认删除这篇文章?')">删除</a>
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>ThinkPHP 实践</td>
                    <td>PHP</td>
                    <td>2016-08-20</td>
                    <td>100</td>
                    <td>100</td>
                    <td><a type="button" class="btn btn-warning  btn-xs" href="">编辑</a>&nbsp;&nbsp;
                        <a type="button" class="btn btn-danger  btn-xs" href="" onclick="javescript:return confirm('确认删除这篇文章?')">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</block>
<block name="pager">
  <nav class="col-md-6 col-md-offset-5">
  
</nav>
</block>
<block name="sidebar">
</block>
<block name="js">
</block>
