<extend name="Public:base" />
<block name='title'>
  <title>主页</title>
</block>
<block name='css'>
  <style>
    .lead{
      text-indent: 40px;
    }
    .indexrow{
      background-color: rgba(218, 223, 225, 0.4);
    }
    a:hover{
      text-decoration: none;
    }
  </style>
</block>
<block name="main">
  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">侧栏</button>
    </p>

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="__PUBLIC__/home/imgs/spark.png" alt="...">
            <div class="carousel-caption">
              Spark 大讲堂
            </div>
          </div>
          <div class="item">
            <img src="__PUBLIC__/home/imgs/jiqi.png" alt="...">
            <div class="carousel-caption">
              深度机器学习
            </div>
          </div>
          <div class="item">
            <img src="__PUBLIC__/home/imgs/python.png" alt="...">
            <div class="carousel-caption">
              Python进阶
            </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
        
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#" title=""><img src="__PUBLIC__/home/imgs/article.png" alt="..."></a>
            <div class="caption">
              <h4 style="text-align: center"><a href="" title="">文章管理系统</a></h4>
              <p>作者:<a href="#" title="">Admin</a> <span style="float: right">标签:<a href="" title="">PHP</a></span></p>
              <p>发布时间:2016-08-20 <span style="float:right">阅读:123</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#" title=""><img src="__PUBLIC__/home/imgs/article.png" alt="..."></a>
            <div class="caption">
              <h4 style="text-align: center"><a href="" title="">文章管理系统</a></h4>
              <p>作者:<a href="#" title="">Admin</a> <span style="float: right">标签:<a href="" title="">PHP</a></span></p>
              <p>发布时间:2016-08-20 <span style="float:right">阅读:123</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#" title=""><img src="__PUBLIC__/home/imgs/article.png" alt="..."></a>
            <div class="caption">
              <h4 style="text-align: center"><a href="" title="">文章管理系统</a></h4>
              <p>作者:<a href="#" title="">Admin</a> <span style="float: right">标签:<a href="" title="">PHP</a></span></p>
              <p>发布时间:2016-08-20 <span style="float:right">阅读:123</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#" title=""><img src="__PUBLIC__/home/imgs/article.png" alt="..."></a>
            <div class="caption">
              <h4 style="text-align: center"><a href="" title="">文章管理系统</a></h4>
              <p>作者:<a href="#" title="">Admin</a> <span style="float: right">标签:<a href="" title="">PHP</a></span></p>
              <p>发布时间:2016-08-20 <span style="float:right">阅读:123</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#" title=""><img src="__PUBLIC__/home/imgs/article.png" alt="..."></a>
            <div class="caption">
              <h4 style="text-align: center"><a href="" title="">文章管理系统</a></h4>
              <p>作者:<a href="#" title="">Admin</a> <span style="float: right">标签:<a href="" title="">PHP</a></span></p>
              <p>发布时间:2016-08-20 <span style="float:right">阅读:123</span></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#" title=""><img src="__PUBLIC__/home/imgs/article.png" alt="..."></a>
            <div class="caption">
              <h4 style="text-align: center"><a href="" title="">文章管理系统</a></h4>
              <p>作者:<a href="#" title="">Admin</a> <span style="float: right">标签:<a href="" title="">PHP</a></span></p>
              <p>发布时间:2016-08-20 <span style="float:right">阅读:123</span></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#" title=""><img src="__PUBLIC__/home/imgs/article.png" alt="..."></a>
            <div class="caption">
              <h4 style="text-align: center"><a href="" title="">文章管理系统</a></h4>
              <p>作者:<a href="#" title="">Admin</a> <span style="float: right">标签:<a href="" title="">PHP</a></span></p>
              <p>发布时间:2016-08-20 <span style="float:right">阅读:123</span></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#" title=""><img src="__PUBLIC__/home/imgs/article.png" alt="..."></a>
            <div class="caption">
              <h4 style="text-align: center"><a href="" title="">文章管理系统</a></h4>
              <p>作者:<a href="#" title="">Admin</a> <span style="float: right">标签:<a href="" title="">PHP</a></span></p>
              <p>发布时间:2016-08-20 <span style="float:right">阅读:123</span></p>
            </div>
          </div>
        </div>
    </div>
  </div><!--/.col-xs-12.col-sm-9-->
</block>
<block name="pager">
<hr>
  <nav class="col-md-6 col-md-offset-3">
    
  </nav>
</block>
<block name='js'>
  <script src="__PUBLIC__/home/js/ie10-viewport-bug-workaround.js"></script>
  <script src="__PUBLIC__/home/js/ie-emulation-modes-warning.js"></script>
</block>
