<extend name="Public:base" />
<block name='css'>
  <style type="text/css" media="screen">
   body{
    background-color: #777777;
   }
  </style>
</block>

<block name='title'><title>欢迎页</title></block>
<block name="nav">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">实验楼</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="float: right;">
          <li class="active"><a href="#">欢迎</a></li>
          <li><a href="#login"  data-toggle="modal">登陆</a></li>
          <li><a href="#register" data-toggle="modal">注册</a></li>
          <li><a href="#about"  data-toggle="modal">关于</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</block>
<block name="main">
<br>
<div style="">
  <div class="container theme-showcase" role="main" style="margin-top: 10%;">
    <div class="jumbotron">
      <h2>实验楼 - 专业的 IT 在线实训平台</h2>
      <p>成都琛石科技有限公司成立于2013年，专注在虚拟化技术领域，核心产品是“实验楼”在线实训平台，同时在为企业、高校提供简单易用的IT在线实训方案。

实验楼是国内领先的IT技术实训平台，采用创新的“在线实验”学习模式，为学生及在职程序员提供编程、运维、测试、云计算、大数据、数据库等最新的IT技术实践课程。

实验楼建设初衷是帮助学习者通过动手实践收获知识，同时体会实验精神。德国教育学家斯普朗格说：“教育的最终目的不是传授已有的东西，而是要把人的创造力量诱导出来”，实验楼设计理念也是如此：从实践切入，依靠交互性、操作性更强的课程，理论学习+动手实践共同激发你的创造力。</p>
      <p style="text-align: right;"><a  class="btn btn-primary btn-lg" href="#login"  data-toggle="modal" role="button">立刻前往</a></p>
    </div>
  </div>
</div>
</block>

<block name="sidebar"></block>

<block name="footer">
  <!-- 用户注册 -->
  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">注册</h4>
          <form  action="" method="post" accept-charset="utf-8">
            <div class="modal-body">
              <div class="form-group has-feedback" id="reg-name-div">
                <label class="control-label" for="inputSuccess2"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 用户名</label>
                <span id="name-tip" style="float: right; background-color: #FCF8E3; color: #DFA95A;" class="badge"></span>
                <input type="text" class="form-control" id="reg_userName" aria-describedby="inputSuccess2Status" placeholder="UserName" required="" name="userName">
                <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true" id="namespan"></span>
              </div>

              <div class="form-group has-feedback" id="reg-email-div">
                <label class="control-label" for="inputSuccess2"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 电子邮箱</label><span id="email-tip" style="float: right; background-color: #FCF8E3; color: #DFA95A;" class="badge"></span>
                <input type="email" class="form-control" id="reg_email" aria-describedby="inputSuccess2Status" placeholder="UserName" required="" name="email">
                  <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true" id="emailspan"></span>
              </div>

              <div class="form-group has-feedback" id="reg-pwd-div">
                <label for="reg_password"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> 密码</label><span id="pwd-tip" style="float: right; background-color: #FCF8E3; color: #DFA95A;" class="badge"></span>
                <input type="password" class="form-control" id="reg_password" placeholder="Password" required="" minlength="6" maxlength="20" name="password">
                <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true" id="regpwdspan"></span>
              </div>

              <div class="form-group has-feedback" id="reg-conpwd-div">
                <label for="confirmPwd"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> 密码确认</label><span id="conpwd-tip" style="float: right; background-color: #FCF8E3; color: #DFA95A;" class="badge"></span>
                <input type="password" class="form-control" id="confirmPwd" placeholder="Confirm password" required="" name="confirmPwd">
                <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true" id="regcompwdspan"></span>
              </div>

              <div class="form-group has-feedback" id="reg-conpwd-div">
                <label for="gender"> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 性别选择</label><span id="conpwd-tip" style="float: right; background-color: #FCF8E3; color: #DFA95A;" class="badge"></span>
                    <select class="form-control" name="gender" required="">
                        <option value="0">保密</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
              </div>

              <div class="form-group has-feedback" id="reg-conpwd-div">
                <label for="birthday"> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 出生日期</label><span id="conpwd-tip" style="float: right; background-color: #FCF8E3; color: #DFA95A;" class="badge"></span>
                  <input type="date" class="form-control" name="birthday" required="" value="" placeholder="">
              </div>

              <div class="modal-footer">
                <button type="reset" style="float: left;">重置</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" id="reg" class="btn btn-primary">提交信息</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- 用户登录 -->
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">登陆</h4>
        </div>
        <form action="" method="post" accept-charset="utf-8">
          <div class="modal-body">
            <div class="form-group has-feedback" id="log-email-div">
              <label class="control-label" for="inputSuccess2"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 电子邮箱</label>
              <input type="email" class="form-control" aria-describedby="inputSuccess2Status" placeholder="UserName" required="" name="email" id="email">
              <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true" id="log-emailspan"></span>
            </div>

            <div class="form-group has-feedback" id="log-pwd-div">
              <label for="reg_password"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> 密码</label>
              <input type="password" class="form-control" placeholder="Password" required="" minlength="6" maxlength="20" name="password" id="password">
              <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true" id="log-pwdspan"></span>
            </div>

            <div class="form-group has-feedback" id="log-name-div">
              <label class="control-label" for="inputSuccess2"> <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 验证码:</label>
              <input type="text" class="form-control"aria-describedby="inputSuccess2Status" placeholder="UserName" required="" name="vcode" id="vcode" maxlength="4">
                <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true" id="vcodespan"></span>
            </div>
            <img src="" alt="验证码" style="width: 150px;height: 70px;" >
            <br><br>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="keep"> 记住我
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"  style="float: left;"><a href="#" title="忘记密码">忘记密码</a></button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary" id="loginu">登入</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">关于</h4>
        </div>
        <div class="modal-body">
              这是关于页面
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</block>

<block name='js'>

  <script>
  $(document).ready(function() {
      $('#login').modal('show');
  });
  </script>

<script src="__PUBLIC__/home/js/logreg.js" type="text/javascript" charset="utf-8" async defer></script>
</block>
